version: '3'
services:
  fusion-cli:
    build: .
    shm_size: '8gb'
    volumes:
      - '.:/fusion-cli'
      - /fusion-cli/node_modules/
    environment:
      - CODECOV_TOKEN
      - CI=true
      - BUILDKITE
      - BUILDKITE_BRANCH
      - BUILDKITE_BUILD_NUMBER
      - BUILDKITE_JOB_ID
      - BUILDKITE_BUILD_URL
      - BUILDKITE_PROJECT_SLUG
      - BUILDKITE_COMMIT
      - THIS_CHUNK=${BUILDKITE_PARALLEL_JOB}
      - TOTAL_CHUNKS=${BUILDKITE_PARALLEL_JOB_COUNT}
